body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
} 
.container {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;
    padding: 0;          
    margin: 20px;
    margin-top: 20px;
    padding-top: 20px;
}
.btn1 {
    background-color: none; 
    color: black;
    border-style: none;
}
.avatar_container {
    display: flex;  
}
.back_img {
    background-position: center;
    background-size: cover;
}
.name {
    white-space: nowrap;
    color: black;
}
.song {
   white-space: nowrap;
    color: black;
}
.header_texts{
    padding: 3px;          
    margin: 2px;  
}
.avatar {
    padding: 5px;          
    margin: 2px;
    width: 33px; 
    height: 33px;
    border-radius: 50%;
}
.icon img {
    object-fit:cover
}
.heart {
    background-position: center; 
    background-size: cover;
    border-style: none;
}
.comment {
    background-position: center;
    background-size: cover;
    border-style: none;
}
.share {
    background-position: center; 
    background-size: cover; 
    border-style: none;
}
.my_comment_space {
    background-position: center; 
    background-size: cover;
    display: flex; 
}
.comment_text {
    text-align: left;
    border-style: none;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.border {
    border: 2px solid rgb(128, 0, 119);
}
.phone {
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 560px;
    border-radius: 15px;
    padding: 0;          
    margin: 0;
    border: 1px solid black;
    margin-top: 20px;
}
.phone::-webkit-scrollbar {
    width: 0;
}
.container_2 {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    padding: 0px;          
    margin: 20px; 
}
.back_img2 {
    background-position: center;
    background-size: cover;
}
.back_img3 {
    background-position: center;
    background-size: cover;
}
.back_img4 {
    background-position: center;
    background-size: cover;
}
.back_img5 {
    background-position: center;
    background-size: cover;
}
