body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
} 
.container {
    background-image: url('./img_1.jpg');
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;
    /* border: 2px solid purple;  */
    padding: 0;          
    margin: 20px;
    margin-top: 20px;
    /* justify-content: center;
    align-items: center; */
}
.btn1 {
    background-color: none; 
    color: black;
    border-style: none;
}
.avatar_container {
    display: flex;  
}
/* .back_img {
    background-image: url('./img_1.jpg');
    background-position: center;
    background-size: cover;
} */
.name {
    white-space: nowrap;
    color: black;
}
.song {
   white-space: nowrap;
    color: black;
}
.header_texts{
    padding: 3px;          
    margin: 2px;  
}
.avatar {
    padding: 5px;          
    margin: 2px;
    width: 33px; 
    height: 33px;
    border-radius: 50%;
}
.icon img {
    object-fit:cover
}
.heart {
    background-position: center; 
    background-size: cover; git
    border-style: none;
}
.comment {
    background-position: center;
    background-size: cover;
    border-style: none;
}
.share {
    background-position: center; 
    background-size: cover; 
    border-style: none;
}
.my_comment_space {
    background-position: center; 
    background-size: cover;
    display: flex; 
}
.comment_text {
    /* display: inline-block; */
    /* field-sizing: content; */
    text-align: left;
    border-style: none;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.border {
    border: 2px solid rgb(128, 0, 119);
}
.phone {
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 560px;
    border-radius: 15px;
    padding: 0;          
    margin: 0;
    border: 1px solid black;
}
.phone::-webkit-scrollbar {
    width: 0;
}
.container_2 {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    padding: 0px;          
    margin: 20px; 
}
.back_img2 {
    background-image: url('./img2.jpg');
    background-position: center;
    background-size: cover;
}
.back_img3 {
    background-image: url('./img3.jpg');
    background-position: center;
    background-size: cover;
}
.back_img4 {
    background-image: url('./img4.jpg');
    background-position: center;
    background-size: cover;
}
.back_img5 {
    background-image: url('./img5.jpg');
    background-position: center;
    background-size: cover;
}

/* .tooth {
    width: 60px;
    height: 120px;
    border: 1px solid black;
    background:yellow
}

.cavity {
    width: 15px;
    height: 15px;
    background: black;
    position: relative;
} */


/* z-index: 5; */